@{
    ViewBag.Title = "Home Page";
}
<body background="~/pictures/holiday.jpg">
    <div class="jumbotron" style="color:red;background-color:lightblue">
        <h1 style="text-align:center">Holiday Management </h1>



    </div>

</body>